* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

#wrapper {
	width:960px; 
	margin-left:auto;
	margin-right:auto;
	background-color: #ffffff;
	border:10px;
	border-style:solid;
	border-color: grey; 
	padding:5px;
	overflow:auto;
	}

p {
    margin-bottom: 16px;
}



header {
    background-image: url(images/dsc_0747actual.jpg);
    color: #ffffff;
    height: 45px;
    width: 100%; 
}

header h1 {
    float: left;
    font-family: helvetica, arial, sans-serif; 
    font-size: 22px;
    font-weight: 400;
    padding: 10px; /* TRouBLe */
}

header nav {
    float: left; 
    margin-top: 12px;
}

header a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration: none;
}

header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}


article {
    clear: both;
    padding: 0 20px 0 20px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    font-size: 28px;
    line-height: 30px; 
    margin-top: 4px;
    margin bottom: 4px;
}

aside {
    float: right; 
    width: 45%;
    margin: 0 0 10px 5px; 
}

footer {
    clear: right; 
    height: 24px; 
    font-size: 12px;
    padding: 0 10px 0 10px;
}

@media screen and (max-width 600px) {
 
    body {
        padding 5%;   
    }
    
    nav {
        width: 100%;
    }
    
    nav li {
        display: inline;
    }
    
}
/* More general things at the top and more specific on the bottom */
/* When talking about height we'll use pxs, width we'll use percents */